body,
header,
button,
input[type="text"],
input[type="number"],
.select-container,
select {
    color: #18b5ee;
}
svg *:not(text) {
    stroke: #18b5ee;
}
text {
    fill: #18b5ee;
}
aside svg * {
    fill: #18b5ee;
    stroke: none;
}
.active #bulb * {
    fill: yellow;
}
input[type="checkbox"] {
    -webkit-filter: saturate(1);
    filter: saturate(1);
}
.arrow-up {
    border-bottom-color: #18b5ee;
}
.arrow-down {
    border-top-color: #18b5ee;
}