body > * {
    background: white;
}
body,
header,
button,
input[type="text"],
input[type="number"],
.select-container,
select {
    color: #333;
    background: white;
}
button,
input[type="text"],
input[type="number"],
.select-container,
select {
    background: #eee;
}
svg *:not(text) {
    stroke: #333;
    fill: white;
}
text {
    fill: #333;
}
aside svg * {
    fill: #333;
    stroke: none;
}
#camera {
    background-color: #eee;
}
.arrow-up {
    border-bottom-color: #333;
}
.arrow-down {
    border-top-color: #333;
}