body,
header,
button,
input[type="text"],
input[type="number"],
.select-container,
select {
    color: #fe3131;
}
svg *:not(text) {
    stroke: #fe3131;
}
text {
    fill: #fe3131;
}
aside svg * {
    fill: #fe3131;
    stroke: none;
}
.active #bulb {
    fill: yellow;
}
.active #auto-aim {
    fill: red;
}
input[type="checkbox"] {
    -webkit-filter: hue-rotate(150deg) saturate(2);
}
.arrow-up {
    border-bottom-color: #fe3131;
}
.arrow-down {
    border-top-color: #fe3131;
}